@media only screen and (max-width: 420px) {
    /* "Main" Styling */
    .main {
        flex-direction: column;
    }

    /* Navbar Styling */
    .navbar {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 70px;
        width: 100%;
    }

    /* Navbar Logo Styling */
    .logo {
        display: none;
    }

    /* Navbar Element Styling */
    .navbar-element {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0px;
        flex-grow: 1;
    }

    /* Section Container Styling */
    .section-container {
        margin: 10px 20px 0px 20px;
    }

    /* Section Header Styling */
    .user-logo {
        width: 38px;
        height: 38px;
    }

    /* Content Header Styling */
    .content-header h1 {
        font-size: 20px;
    }

    /* To-Do Items Styling */
    .todo-items {
        font-size: 18px;
    }

    /* Dialog Window Styling */
    .dialog-window {
        margin-left: 0px;
    }

    .dialog-window input {
        font-size: 18px;
    }

    /* Settings Styling */
    .settings-element label {
        font-size: 18px;
    }

    .settings-element input {
        font-size: 16px;
    }

    /* Submit Form Styling */
    .submit-form {
        width: 50%;
    }

    /* Admin Panel Styling */
    .user-info {
        flex-direction: column;
        gap: 0px;
    }
}