/* Variables */
/* Variables */
:root {
    --primary-font-color: #707070;
    --primary-bg-color: #fcfcfc;
    --side-bar-color: #535644;
    --max-width: 500px;
}

/* Fonts */
.light-font {
    font-weight: 300;
}

.bold-font {
    font-weight: bold;
}


/* Message Styling */
.message {
    text-align: center;
    color: #ff0000;
}